.loading {
  width: 100vmax;
  height: 50vmax;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid gray;
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}


@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
