# dependencies
/node_modules
/frontened/node_modules
/frontened/.pnp
/frontened/.pnp.js

# testing
/frontened/coverage

# production
/frontened/build

# misc
/Backend/config/config.env
/frontened/.DS_Store
/frontened/.env.local
/frontened/.env.development.local
/frontened/.env.test.local
/frontened/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

