.selectClass > select {
  width: 100%;
  min-height: auto;
  padding-top: 0.33em;
  padding-bottom: 0.33em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-radius: 0.25rem;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #4f4f4f;
  border-radius: 0.25rem;
  transition: all 0.2s linear;
}
