.header {
  background-color: #007bff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0rem 1.5rem;
  height: 5rem;
  align-items: center;
}

.hamBurger {
  display: none !important;
}

.logo > svg {
  color: white;
  margin-right: 20px;
}
.logo img {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: none;
  background-color: white;
}

.search input {
  height: 2rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.icons {
  text-align: right;
}

.badgeClass {
  position: absolute;
  top: 14px;
  right: 14px;
}

.icons svg {
  color: white;
  font-size: 3rem;
  padding: 0rem 0.6rem;
  transition: all 0.5s;
}

.icons svg:hover {
  color: rgba(19, 18, 18, 0.279);
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #374656;
}

.links a {
  color: white;
  padding: 0.6vw 1vw;
  margin: 0 1.5vw;
  transition: all 0.5s;
}

.links a:hover {
  border: none;
  border-radius: 5px;
  padding: 6px;
  font: 500 1rem small-caption;
  background-color: white;
  color: black;
}

/* Media Query */

@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 0.2rem;
    height: auto;
  }
  .search {
    grid-row: 2;
    grid-column: 1 / span 2;
    margin-top: 0.4rem;
  }

  .badgeClass {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}

@media only screen and (max-width: 400px) {
  .hamBurger {
    display: block !important;
  }

  .logo img {
    display: none;
  }

  .resp-link-sec {
    height: 160px !important;
  }

  .links {
    position: absolute;
    z-index: 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  .links > a {
    margin: 5px 7px;
  }
}
