.filterContainer {
  display: flex;
  flex-direction: column;
  height: 35vmax;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin: 6rem 0;
  padding: 2vmax;
  border-right: 1px solid rgb(223, 219, 219);
}

.filterBox {
  width: 70%;
  margin-top: 2rem;
}

.filterBox > p {
  color: rgb(7, 91, 140);
  font-weight: 900;
  font-size: 20px;
}

.categoryBox {
  width: 100%;
  padding: 0.4vmax 0;
}

.ratings {
  margin-top: 2vmax;
  width: 70%;
}

.ratings > p {
  color: rgb(7, 91, 140);
  font-weight: 900;
  font-size: 20px;
  
}

.categoryTest {
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
}

.categoryTest > div > input {
  margin-right: 0.4vmax;
}

.list-group > p {
  color: rgb(7, 91, 140);
  font-weight: 900;
  font-size: 20px;
  margin: 0.5vmax 0;
}

.productContainer {
  min-height: 70vh;
  margin: auto;
  /* border-left: 1px solid black; */
}

.paginationBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item {
  border: 1px solid rgb(51, 50, 50);
  padding: 0.6vmax 0.7vmax;
  transition: all 0.5s;
  background-color: white;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 10px 0 0 10px;
}
.page-item:last-child {
  border-radius: 0 10px 10px 0;
}

.page-link {
  color: tomato;
  color: black;
  font: 300 1vmax "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.5s;
}

.page-item:hover {
  background-color: rgb(151, 144, 144);
}

.page-link:hover {
  background-color: rgb(151, 144, 144);
  color: white;
}

.pageItemActive {
  background-color: tomato;
  color: white;
}

/* Media query */

@media only screen and (max-width: 768px) {
  .filterContainer {
    align-items: center;
    border-right: none;
    padding-bottom: 2rem;
    
  }
    

  .container{
    margin-top: 2rem;
  }

  .list-group {
    width: 70%;
  }

  .productContainer{
    border-top: 1px solid rgb(223, 219, 219);
    padding-top: 2rem;
  }

  
}
